.theme_btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--clr--main-primary);
  border: 2px solid var(--clr-grey-1);
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}

.active {
  border: 2px solid var(--clr--main-blue);
  background-color: rgb(62, 62, 62);
}

color {
  color: #616161;
}
