.container {
  position: relative;
  min-height: 100%;
  width: 20rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--clr--main-bg-secondary);
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid var(--clr--main-blue-active);

  h3 {
    font-size: 0.75rem;
    text-align: center;
    text-wrap: nowrap;
    color: var(--clr-text-secondary);
    font-weight: normal;
    margin-bottom: 1rem;
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 0.3rem;
    padding: 1rem;
    border: 1.5px solid transparent;

    i {
      font-size: 1.4rem;
      border: 1.5px solid var(--clr-grey-3);
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      font-size: 0.9rem;
      font-weight: bold;
    }

    &:hover {
      background-color: var(--clr--main--hover-bg-secondary);
    }
  }
  .active {
    background-color: var(--clr--main--hover-bg-secondary-active);
    border: 1.5px solid var(--clr--main-blue);
    box-shadow: var(--box-shadow-1);

    &:hover {
      background-color: var(--clr--main--hover-bg-secondary-active);
    }

    i {
      background-color: var(--clr--main-bg-secondary);
      border: 1.5px solid var(--clr--main-blue);
    }
  }
}
