.container_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-1);
  height: 35rem;
  width: 35rem;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.106);
}

.outlet_container {
  padding: 1rem;
  width: 100%;
  display: flex;
}
