:root {
  /* color-scheme: light dark; */

  /** Main-Colors */
  --clr--main-primary: white;
  --clr--main-bg-primary: white;

  --clr--main-secondary: rgb(73, 73, 73);
  --clr--main-bg-secondary: #e6f3ff;

  --clr--main-blue: #2d9dff;

  --clr--main-grey-light: rgb(151, 155, 157);

  --clr-text-secondary: rgb(129, 129, 129);

  /** Hover */
  --clr--main-hover-primary: rgb(245, 245, 245);

  --clr--main-hover-secondary: rgb(89, 89, 89);
  --clr--main--hover-bg-secondary: #d9edff;

  --clr--main-hover-blue: rgb(63, 165, 255);

  /** Active */
  --clr--main-blue-bg-active: #e6f6ff;
  --clr--main-blue-active: #1c95ff8f;
  --clr--main--hover-bg-secondary-active: #d2eaff;

  --clr--nav-bg: white;

  /** Other-Colors */
  --clr-grey-1: rgb(220, 220, 220);
  --clr-grey-2: rgb(200, 200, 200);
  --clr-grey-3: rgb(180, 180, 180);
  --clr-grey-4: rgb(160, 160, 160);
  --clr-grey-5: rgb(140, 140, 140);

  /** Box-Shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-4: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --box-shadow-inset-1: rgba(0, 0, 0, 0.16) 0px 1px 3px inset;
}

:root.dark {
  /** Main-Colors */
  /* --clr--main-primary: rgb(0, 30, 65); */
  --clr--main-primary: #1b1c1d;
  --clr--main-bg-primary: rgb(15, 11, 72);

  --clr--main-secondary: rgb(242, 242, 242);
  --clr--main-bg-secondary: #292b2c;

  --clr--main-blue: rgb(45, 157, 255);

  --clr--main-primary-bg-active: rgb(84, 80, 209);
  --clr--main-primary-active: white;

  --clr--nav-bg: rgb(39, 29, 193);

  /** Hover */
  --clr--main-hover-primary: rgb(245, 245, 245);

  --clr--main-hover-secondary: rgb(89, 89, 89);
  --clr--main--hover-bg-secondary: #393939;

  --clr--main-hover-blue: rgb(63, 165, 255);

  /** Active */
  --clr--main-blue-bg-active: rgb(171, 194, 207);
  --clr--main-blue-active: #1c95ff8f;
  --clr--main--hover-bg-secondary-active: #2d475f;

  /** Other-Colors */

  /** Box-Shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-4: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

html,
body,
#root {
  position: absolute;
  top: 0;
  left: 1.9rem;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  transition: all 0.1s;
  background-color: var(--clr--main-primary);
  color: var(--clr--main-secondary);
}

#root {
  padding: 2rem 2rem 1rem 2rem;
}

a {
  text-decoration: none;
  color: var(--clr--main-secondary);
}

li {
  list-style-type: none;
}

button {
  border-radius: 0.4rem;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: var(--clr-grey-light);
}

input::-webkit-input-placeholder text {
  color: var(--clr-grey-dark);
}
