:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  /** Main-Colors */
  --clr--main-primary: white;
  --clr--main-secondary: rgb(73, 73, 73);
  --clr--main-blue: rgb(45, 157, 255);
  --clr--main-grey-light: rgb(151, 155, 157);

  --clr--main-primary-bg-active: rgb(237, 241, 255);
  --clr--main-primary-active: rgb(51, 49, 222);

  --clr--nav-bg: white;

  /** Other-Colors */
  --clr-grey-1: rgb(220, 220, 220);
  --clr-grey-2: rgb(200, 200, 200);
  --clr-grey-3: rgb(180, 180, 180);
  --clr-grey-4: rgb(160, 160, 160);
  --clr-grey-5: rgb(140, 140, 140);

  /** Box-Shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-4: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --box-shadow-inset-1: rgba(0, 0, 0, 0.16) 0px 1px 3px inset;
}

:root.dark {
  /** Main-Colors */
  /* --clr--main-primary: rgb(0, 30, 65); */
  --clr--main-primary: rgb(15, 11, 72);
  --clr--main-secondary: rgb(255, 255, 255);
  --clr--main-blue: rgb(45, 157, 255);

  --clr--main-primary-bg-active: rgb(84, 80, 209);
  --clr--main-primary-active: white;

  --clr--nav-bg: rgb(39, 29, 193);

  /** Other-Colors */

  /** Box-Shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-4: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body,
#root {
  position: absolute;
  top: 0;
  left: 1.9rem;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html {
  left: 3.6rem;
}

body {
  transition: all 0.1s;
  background-color: var(--clr--main-primary);
  color: var(--clr--main-secondary);
}

#root {
  padding: 2rem 2rem 1rem 2rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--clr--main-secondary);
}

li {
  list-style-type: none;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: var(--clr-grey-light);
}

input::-webkit-input-placeholder text {
  color: var(--clr-grey-dark);
}
