.nav_main_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  background-color: var(--clr--main-bg-secondary);
  border-right: 2px solid rgba(255, 255, 255, 0.205);
  box-shadow: var(--box-shadow-3);
  z-index: 99;
  transition: width 0.3s ease-in-out;
}

.toggle_button {
  position: absolute;
  top: 2rem;
  right: -1rem;
  height: 1.7rem;
  font-size: 0.9rem;
  width: 1.7rem;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background-color: var(--clr--main-blue);
  box-shadow: var(--box-shadow-3);
  transition: 0.1s;

  &:hover {
    background-color: var(--clr--main-hover-blue);
    scale: 1.2;
  }
}

.nav_main_container.extended {
  width: 15rem;
}

.nav_main_container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav_main_container li {
  position: relative;
  display: flex;
  justify-content: center;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 0;
  width: 15rem;
  text-wrap: nowrap;
  border-radius: 0.5rem;
  background-color: var(--clr--main-bg-secondary);
  box-shadow: var(--box-shadow-3);
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  animation: slideIn 0.2s ease-out;

  a {
  }
}

.nav_main_container li:hover .submenu {
  display: flex;
}

.bottom_section {
  position: relative;
}

@keyframes slideIn {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

.submenu.hidden {
  animation: slideOut 0.3s ease-in-out forwards;
}
