.nav_link {
  position: relative;
  height: 4rem;
  width: 4rem;
  /* left: 0.3rem; */
  /* padding-right: 0.5rem; */
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr--main-secondary);
  border: 1.5px solid transparent;
  transition: all 0.1s;

  &:hover {
    color: var(--clr--main-blue);

    i {
      scale: 1.1;
      transition: scale 0.1s;
    }
  }
}

.nav_link.active {
  color: var(--clr--main-blue);
  background-color: var(--clr--main--hover-bg-secondary);
  /* border: 2px solid rgba(255, 255, 255, 0.309); */
  border: 1.5px solid var(--clr--main-blue);
  box-shadow: var(--box-shadow-1);
  transition: 0.4s;
  transition: box-shadow none;
}

.subNavLink {
  a {
    width: 100%;
  }

  i {
    display: flex;
    align-items: center;

    span {
      font-size: 1rem;
    }
  }
}
