.container {
  position: relative;
  width: 25rem;

  input {
    width: 100%;
    border: 1.5px solid var(--clr--main-secondary);
    border-radius: 5rem;
    padding: 0.8rem 1rem 0.8rem 3rem;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    box-shadow: var(--box-shadow-1);
  }

  input:focus {
    border: 1.5px solid var(--clr--main-blue);
  }

  input:focus::-webkit-input-placeholder {
    color: var(--clr--main-blue);
  }

  input::-webkit-input-placeholder {
    color: rgb(160, 160, 160);
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;

    i {
      padding: 0.7rem;
      font-size: 1.2rem;
      border-radius: 100%;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        color: var(--clr--main-blue);
      }
    }
  }
}
