/* .main {
  position: relative;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--clr--main-white);
}

.main > :first-child {
  position: relative;
  min-height: 100vh;
  width: 100%;
} */
