/* .container_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
} */

.form_container {
  height: 38rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  perspective: 500px;
  transform-style: preserve-3d;
  box-shadow: var(--box-shadow-2);
}

.form_container > h1 {
  position: relative;
  font-size: 1.8rem;
  font-weight: lighter;
  color: var(--clr--main-blue);
  letter-spacing: 0.8px;
  transform: translateZ(30px);
}

.input {
  position: relative;
  width: 23rem;
  height: 3rem;
  font-size: 1.02rem;
  background-color: transparent;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transform: translateZ(30px);
  border: 1px solid var(--clr--main-secondary);
  color: var(--clr--main-white);
  box-shadow: var(--box-shadow-1);
}

.input:focus {
  box-shadow: var(--box-shadow-2);
  border: 1.5px solid var(--clr--main-blue);
}

.input:focus::-webkit-input-placeholder {
  color: var(--clr--main-blue);
}

.input::-webkit-input-placeholder {
  color: rgb(166, 166, 166);
}

.no_account {
  position: relative;
  letter-spacing: 1px;
  color: var(--clr--main-secondary);
  transform: translateZ(20px);
}

.link {
  color: var(--clr--main-blue);
}

.link:hover {
  color: var(--clr--main-hover-blue);
}

.sign_up_button {
  position: relative;
  bottom: 1rem;
  border: 1.5px solid var(--clr--main-blue);
  color: var(--clr--main-white);
  background-color: transparent;
  transform: translateZ(30px);
  box-shadow: var(--box-shadow-2);
}

.sign_up_button:hover {
  border: 1.5px solid white;
  background-color: var(--clr--main-blue);
  color: white;
}

.error {
  text-align: center;
  color: var(--clr-red-4);
}
